## 1. Import Libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler

C:\Users\MM COMPUTER\anaconda3\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\MM COMPUTER\anaconda3\lib\site-packages\numpy\.libs\libopenblas.EL2C6PLE4ZYW3ECEVIV3OXXGRN2NRFM2.gfortran-win_amd64.dll
C:\Users\MM COMPUTER\anaconda3\lib\site-packages\numpy\.libs\libopenblas.XWYDX2IKJW2NMTWSFYNGFUWKQU3LYTCZ.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

## 2. import and standardise data
We use iris dataset, it's having four features and one traget column

As PCA affected by scale of the data. We can use scale function and standardise the actual values

In [2]:
url = "ctgan_result_oversampling_final.csv"
# load dataset into Pandas DataFrame
df = pd.read_csv(url)
column = df.columns
feature = column

In [3]:
#df.head()
#above_35 = titanic[titanic["Age"] > 35]
Label_1 = df[df["DEATH_EVENT"]==1]
Label_1.head()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75,0,582,0,20,1,265000,1.9,130,1,0,4,1
1,55,0,7861,0,38,0,263358,1.1,136,1,0,6,1
2,65,0,146,0,20,0,162000,1.3,129,1,1,7,1
3,50,1,111,0,20,0,210000,1.9,137,1,0,7,1
4,65,1,160,1,20,0,327000,2.7,116,0,0,8,1

In [4]:
#feature = ['sepal length', 'sepal width', 'petal length', 'petal width']

# separating features
x = df.loc[:,feature]

#separating target
y = df.loc[:,'DEATH_EVENT']

#Standardising features
trans_x = StandardScaler().fit_transform(x)

In [5]:
trans_x

array([[ 1.02762303, -0.88800127,  0.07081192, ..., -0.70972086,
        -1.71824271,  1.        ],
       [-0.5542346 , -0.88800127,  8.42284892, ..., -0.70972086,
        -1.69247177,  1.        ],
       [ 0.23669421, -0.88800127, -0.42946121, ...,  1.40900465,
        -1.6795863 ,  1.        ],
       ...,
       [-0.71242036,  1.12612452, -0.45699918, ..., -0.70972086,
        -0.84203065,  1.        ],
       [-0.39604884, -0.88800127, -0.54305534, ..., -0.70972086,
         0.70422593,  1.        ],
       [-0.31695596,  1.12612452, -0.17129273, ...,  1.40900465,
         1.00059177,  1.        ]])

In [6]:
from sklearn.decomposition import PCA

pca = PCA(n_components=10)

pct = pca.fit_transform(trans_x)

principal_df = pd.DataFrame(pct,columns=
                ['test1','test2','test3','test4','test5','test6','test7','test8','test9','test10'])
finaldf= pd.concat([principal_df,df[['DEATH_EVENT']]],axis=1)

In [7]:
finaldf.to_csv("Reduced_ctgan_result_oversampling_final_Ten_Col.csv",index=False)
finaldf.head()

,test1,test2,test3,test4,test5,test6,test7,test8,test9,test10,DEATH_EVENT
0,1.965001,0.028018,-1.183901,2.075203,-0.341062,-0.336792,0.915761,-0.827387,-0.800121,-0.522894,1
1,-0.242487,2.168414,-0.540738,5.018108,-0.204147,5.674869,-2.477709,1.740557,-0.592802,0.876971,1
2,1.908063,1.696604,-0.313260,1.140921,-0.930951,-0.928141,-0.079519,-0.609740,0.356615,-1.784120,1
3,1.006931,-0.179857,-0.929562,0.474427,-1.620494,-0.622526,-1.832925,-0.358808,0.254107,-0.982890,1
4,2.678880,-1.897386,1.670062,1.763089,-0.108091,-2.156882,-1.319048,-0.381338,-0.563644,-0.371098,1